@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --background        :hsl(233, 47%, 7%);
    --card-background   :hsl(244, 38%, 16%);
    --accent            :hsl(277, 64%, 61%);
    --heading           :hsl(0, 0%, 100%);
    --paragraph         :hsla(0, 0%, 100%, 0.75);
    --stats-heading     :hsla(0, 0%, 100%, 0.6);

    --fs15              :15px;
    --font-inter        :"Inter"; 
    --font-deca         :"Lexend Deca";
}
body{
    background-color: var(--background);
}
span{
    color: var(--accent);
}
.card{
    background-color: var(--card-background);
    width: 1000px;
    height: 400px;
    position: relative;
    top: 260px;
    left: 100px;
    border-radius: 7px;
}
.card-overlay{
    position: absolute;
    height: 400px;
    left: 520px;
    background-color: var(--accent);
    background-repeat: repeat;
    border-radius: 0 7px 7px 0;
}
.img{
    opacity: 0.4000;
    width: 484px;
    border-radius: 0 7px 7px 0;
}
.card-body{
    margin-left: 60px;
    padding-top: 40px;
}
.card-header{
    color: var(--heading);
    font-family: var(--font-inter);
    font-weight: 400;
    width: 350px;
}
.card-text{
    width: 350px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--stats-heading);
}
.card-stats{
    margin-top: 50px;
}
.stats{
    float: left;
    color: var(--heading);
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 22px;
}
.stats-header{
    width: 70px;
    position: relative;
    top: 5px;
    right: 60px;
    margin-top: 50px;
    float: left;
    color: var(--stats-heading);
    font-size: 12px;
    font-family: var(--font-deca);
}
.companies{
    margin-left: 5px;
}
.templates{
    padding-left: 19px;
}
.quries{
    padding-right: 10px;
}
@media all and (max-width: 375px) {
    .card{
        top: 90px;
        left: 10px;
        width: 320px;
        height: 730px;
    }
    .card-overlay{
        position: initial;
        width: 320px;
        border-radius: 7px 7px 0 0;
        height: 235px;
    }
    .img{
        width: 320px;
        position: absolute;
        right: 0px;
        border-radius: 7px 7px 0 0;
    }
    .card-body{
        padding-top: 00px;
        margin-left: 15px;
        text-align: center;
    }
    .card-header{
        font-size: 12px;
        width: 250px;
        margin-top: 35px;
        margin-left: 20px;
    }
    .card-text{
        font-size: 13px;
        width: 230px;
        margin-left: 30px;
    }
    .card-stats{
        padding-left: 115px;
        margin-top: -30px;
    }
    .stats-header{
        float: initial;
        padding-left: 45px;
        padding-bottom: 10px;
    }
    .companies{
        top: -10px;
        font-size: 11px;
        margin-bottom: -14px;
    }
    .templates{
        top: 3px;
        left: -55px;
    }
    .quries{
        top: 5px;
    }
    .two{
        padding-left: 5px;
    }
    .there{
        margin-top: 5px;
    }
}